body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* hrader related styles */
.header{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;



}

/* nav related styles */
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 200px; */


}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin: 7px;
}
nav a {
    text-decoration: none;
    color: black;
}
.text-primery{
    color: #FD6E0A;
}
.btn-primery{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    color: white;
}
/* styles banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}
.banner-profile-pic{
    width: 500px;
}
.banner-grite{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discriotion{
    font-size: 20px;
    size: 30px;
}
/* section related styles */
.about{
    padding: 130px;
    margin: 130px;
    border-radius: 10px;
}
.about-title{
text-align: center;
font-size: 35px;
font-weight: 700;
color: #474747;
}
.aboutt-discription{
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
    /* gap:100px;
    margin-left: 30px;
} */
.about-info{
    text-align: center;
}
/* i do section styls */
main section{
    margin-top: 130px;
}
.section-title{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #181818
}

.section-discription{
    text-align: center;
}